:ruby


%h1.title.is-size-4 Alerts
%section
  .field
    .control
      .columns
        .column.is-2
          %strong Ticker
        .column.is-1
          %strong Prices
        .column.is-1
  / loop
  .field
    .control
      - STATE[:stonks].each do |ticker_symbol, thresholds|
        .columns
          - threshold_low = thresholds.first
          - threshold_high = thresholds.last
          .column.is-2
            %input.input{ value: ticker_symbol, placeholder: "AAPL", type: "text" }/
          .column.is-1
            %input.input{ value: threshold_low, placeholder: "123", type: "text" }/
          %span.rel.lh60 -
          .column.is-1
            %input.input{ value: threshold_high, placeholder: "234", type: "text" }/
          .column.is-3
            %button.btn-add.button.btn.is-primary +
            %span.del-link.red del
  .s15
  .field.is-grouped
    .control
      %button.button.is-link Save
