!!!
%html{dir: "ltr", lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Stonks Alert - Admin UI
    %link{href: "/css/vendor/bulma.css", rel: "stylesheet"}/
    %link{href: "/css/style.css", rel: "stylesheet"}/
  %body
    .container.has-border
      %section.hero.is-small.is-info
        .hero-body
          %p.title
            Stonks Alert
          %p.subtitle
            Admin UI
      %section.section
        = yield
